# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Environment files
.env
.env.*

# Logs
*.log

# Database files
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Migrations cache
alembic/versions/__pycache__/